<form (ngSubmit)="trySearch()">
  <div class="field is-grouped">
    <div class="control is-expanded">
      <textarea class="textarea" type="text" name="value" [(ngModel)]="value" [dir]="dir"></textarea>
      <div *ngIf="searchLines" class="box search-result" [dir]="dir">
        <p *ngFor="let line of searchLines">
          <ng-container *ngFor="let part of line">
            <span *ngIf="part.matches && part.matches.length; else plain" class="is-match">
              {{part.text}}
              <div class="tooltip box">
                <div class="tags are-medium">
                  <span class="tag is-dark" *ngFor="let match of part.matches">
                    {{match.parsed}} {{dir === 'ltr' ? '→' : '←'}} {{match.eval}}
                  </span>
                </div>
              </div>
            </span>
            <ng-template #plain>
              <span>{{part.text}}</span>
            </ng-template>
          </ng-container>
        </p>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary" type="submit" [ngClass]="{'is-loading': loading}"
        title="It will search using any of the modifications made on this table.">Search</button>
    </div>
  </div>
</form>
